* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway',
    sans-serif;

}

#nav {
  height: 10vh;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center
}

#nav>a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
  color: lightgray
}

#home-container,
.customer-detail,
form {
  width: 60vw;
  margin: 0 auto;
  margin-top: 20px;
}

.customer-item {
  border: 0.5px solid lightgrey;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 5px 0px lightgrey;
}

.customer-item>a {
  color: darkolivegreen
}

.customer-detail * {
  margin-top: 10px;
}

.btn {
  text-decoration: none;
  font-size: 16px;
  border: none;
  color: darkslateblue
}

.delete-btn {
  float: right;
}

.edit-btn {
  display: block;
  width: max-content;
}

form {
  text-align: center
}

.form-element {
  margin: 5px auto;
  width: 400px
}

.form-element * {
  font-size: 16px;
  padding: 2px;
  width: 100%;
}

button[type="submit"] {
  width: 30%;
  float: right
}

.header-medium {
  text-align: center;
  padding: 10px;
  letter-spacing: 1.5px
}